
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.link {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: inherit;
}

.basic-text {
    margin: 0;
    padding: 0;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

body {
    max-width: 1400px;
    margin: 0 auto;
    color: #533738;
    background-color: #EFE6E4;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.heading {
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
    padding-bottom: 40px;
}

/*=============================== HEADER ==============================*/

.page-header {
    position: absolute;
    top: 36px;
    left: 0;
    width: 100%;
}

.wrapper-header-footer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-size: 16px;
    line-height: 20px;
}

.logo {
    text-transform: uppercase;
    margin-right: 89px;
    display: flex;
    align-items: center;
}

.main-nav {
    min-width: 708px;
    margin-right: 35px;
}

.nav-list {
    display: flex;
    justify-content: flex-start;
    gap: 26px;
}

/* ============================ HERO ================================= */

.hero {
    box-sizing: border-box;
    padding: 152px 0 0 184px;
    min-height: 715px;
    background-image: url("../images/moto-SCANDI/background.jpg");
    background-repeat: no-repeat;
}

.main-heading {
    padding: 0;
    max-width: 534px;
    font-size: 50px;
    line-height: 62px;
}

.hero-text {
    margin-top: 24px;
    margin-bottom: 21px;
    max-width: 493px;
}

.make-order {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 310px;
    height: 74px;
    background-color: #CC8B86;
    border: none;

    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #533738;

    cursor: pointer;
}

/* =============================ABOUT============================= */

.about-section {
    padding-top: 65px;
}

.section-header {
    margin: 0 auto;
    display: flex;
    justify-content: center;

    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
}

.about-wrapper {
    margin: 0 182px;
    display: flex;
    gap: 63px;
}

.about-text {
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* ======================ACHIEVEMENTS======================= */

.achievements-list {
    font-family: "Montserrat", sans-serif;
    margin-top: 21px;
    height: 273px;
    background-color: #8D7370;
    display: flex;
    justify-content: center;
    gap: 269px;
    align-items: center;
}

.achievements-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
}

.achievemnts-item-figure {
    font-weight: normal;
    font-size: 52px;
    line-height: 62px;
}

/* ===============================PORTFOLIO=========================== */

.portfolio-wrapper {
    margin: 65px auto 0;
    width: 1200px;
}

.align-left {
    justify-content: left;
}

.hover-inscription {
    display: none;
}

.studio-apartment {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hover-img:hover .hover-inscription {
    position: absolute;
    width: 488px;
    height: 451px;
    background-color: rgba(100, 72, 69, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #fff;
}

.hover-heading {
    width: 270px;

    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
}

.hover-text {
    width: 418px;
}

.portfolio-img {
    margin-bottom: 30px;
}

.portfolio-link-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-link {
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
}

.portfolio-link::after {
    display: inline-block;
    content: "";
    width: 65px;
    height: 1em;
    background-image: url("../images/portfolio/right-arrow.svg");
    background-repeat: no-repeat;
    background-position: 5px 14px;
}

/* =================================TEAM=============================== */

.team {
    margin-top: 65px;
    background-color: #E2C4BA;
}

.team-section-wrapper {
    padding-top: 50px;
    padding-bottom: 35px;
}

.team-list {
    display: flex;
    justify-content: center;
    gap: 38px;
}

.team-member {
    width: 320px;
}

/* ================================WORKFLOW============================ */

.workflow {
    background-color: #E2C4BA;
    padding-bottom: 80px;
}

.workflow-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.workflow-step {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 285px;
    text-align: center;
}

.step-marker {
    flex-shrink: 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #8D7370;

    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* =============================FEEDBACK=============================== */

.feedback-header {
    padding-top: 65px;
}

.feedback-wrapper {
    padding: 0 182px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 65px;
}

.feedback-button {
    width: 72px;
    height: 72px;
    border: none;
    border-radius: 50%;
    flex-shrink: 0;
    background-color: #CC8B86;
    background-image: url("../images/make-order/Arrow.svg");
    background-repeat: no-repeat;
    background-size: 32px;
    background-position: center;
    cursor: pointer;
}

.previous-review {
    transform: rotate(180deg);
}

.review {
    margin: 0 29px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.customer-quote {
    height: 408px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cited-customer {
    font-style: normal;
    text-transform: uppercase;
}

.feedback-images {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* ==============================ORDER-FORM========================== */

.order-form-section {
    background-color: #8D7370;
    display: flex;
    padding: 0 100px 0 182px;
    color: #F6EDE9;
}

.form-wrapper {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: flex-start;
}

.order-form-section .section-header {
    margin: 0;
}

.order-form-text {
    position: relative;
    top: -11px;
    opacity: 0.6;
}

.order-form {
    width: 508px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.form-field {
    height: 35px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;

    color: #F6EDE9;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.form-field::placeholder {
    color: #F6EDE9;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.order-form> :last-child {
    margin-top: -4px;
}

/* ================================FOOTER============================ */

.page-footer {
    margin: 37px auto;
    max-width: 1200px;
    display: flex;
}

.page-footer .scandi-phone {
    margin: 0;
    margin-right: 42px;
}

.scandi-owner {
    margin-left: auto;
}